.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.heading {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  composes: heading-md from './../../index.css';
}

.desc {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  composes: body-md from './../../index.css';
}

.sign-in {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 1.5rem;

  & form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 1.5rem;
  }
}

.primary {
  background: var(--accent-color);
  composes: button from './../../index.css';
  padding: 11px 27px;
  align-self: stretch;

  &:hover {
    background: var(--accent-color-hover);
    box-shadow: 0 0 2rem 0 rgb(99 60 255 / 0.25);
  }
}

/* .submitted {
  outline-color: red;
  box-shadow: unset;
}

.submitted input:invalid {
  border-color: red;
}

.submitted label {
  color: red;
} */

.footer {
  text-align: center;
  composes: desc;
}
