@import 'the-new-css-reset';

@font-face {
  font-family: 'Instrument Sans';
  src: url('./assets/fonts/InstrumentSans-VariableFont_wdth,wght.woff2') format('woff2-variations');
  font-weight: 400 700;
  font-stretch: 75% 100%;
  font-style: normal;
}

:root {
  font-family: 'Instrument Sans', sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  position: relative;

  --very-dark-gray: #121212;
  --dark-grey: 51 51 51;
  --grey: #737373;
  --light-grey: #fafafa;
  --purple: #633cff;
  --purple-hover-color: #beadff;
  --light-purple: #efebff;
  --borders: 217 217 217;
  --white: 255 255 255;
  --red: #ff3939;
  --accent-color: var(--purple);
  --accent-color-hover: var(--purple-hover-color);
  --warning-color: var(--red);
  --button-text: rgb(var(--white));
  --primary-text: rgb(var(--dark-grey));
  --secondary-text: var(--grey);
  --placeholder-text: rgb(var(--dark-grey) / 0.5);
  --primary-bg: rgb(var(--white));
  --secondary-bg: var(--light-grey);
  --borders-color: rgb(var(--borders));

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
    --primary-text: rgb(var(--white));
    --secondary-text: rgb(var(--white) / 0.8);
    --placeholder-text: rgb(var(--white) / 0.6);
    --primary-bg: rgb(var(--dark-grey));
    --secondary-bg: var(--very-dark-grey);
    --borders-color: rgb(var(--borders) / 0.5);
  }
}

/* Baseline for default links */
a:not([class]) {
  /* Relatively sized thickness and offset */
  text-decoration-thickness: max(0.08em, 1px);
  text-underline-offset: 0.15em;
  color: var(--accent-color);
}

/* Scroll padding allowance above anchor links */
:target {
  scroll-padding-block-start: 2rem;
}

/* Scroll padding allowance below focused elements to ensure they are clearly in view */
:focus {
  scroll-padding-block-end: 8vh;
}

.app {
  position: relative;
  padding: 2rem;
  accent-color: var(--accent-color);
  background: var(--primary-bg);
  height: 100svh;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
  flex: 1 0 0;

  @media (min-width: 640px) {
    align-items: center;
    gap: 51px;
    background-color: var(--secondary-bg);
    /* padding-block-start: 226px; */
  }

  @media (min-width: 1100px) {
    /* padding-block-start: 206px; */
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 64px;
  background-color: var(--primary-bg);

  @media (min-width: 640px) {
    align-items: center;
    gap: 2.5rem;
    background-color: var(--secondary-bg);
    max-width: 29.75rem;
    align-self: stretch;
    margin-inline: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 2.5rem;
  background-color: var(--primary-bg);

  @media (min-width: 640px) {
    border-radius: 12px;
    padding: 2.5rem;
  }
}

.heading-md {
  color: var(--primary-text);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;

  @media (min-width: 640px) {
    font-size: 2rem;
  }
}

.heading-sm {
  color: var(--primary-text);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.body-md {
  color: var(--secondary-text);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.body-sm {
  color: var(--primary-text);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
  color: var(--button-text);
  composes: heading-sm;

  &:hover {
    cursor: pointer;
  }

  &[disabled] {
    opacity: 0.25;
  }
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  align-self: stretch;
  color: var(--primary-text);
  composes: body-sm;
}

.input {
  display: flex;
  padding: 0.75rem 1rem 0.75rem calc(1rem + 28px);
  align-items: center;
  gap: 0.75rem;
  align-self: stretch;
  border: 1px solid var(--borders-color);
  border-radius: 0.5rem;
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 16px;
  color: var(--primary-text);
  width: 100%;
  composes: body-md;

  &::placeholder {
    color: var(--placeholder-text);
    font-size: 1rem;
  }

  &[type='email'] {
    appearance: none;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDE2IDE2Ij48cGF0aCBmaWxsPSIjNzM3MzczIiBkPSJNMTQgM0gyYS41LjUgMCAwIDAtLjUuNVYxMmExIDEgMCAwIDAgMSAxaDExYTEgMSAwIDAgMCAxLTFWMy41QS41LjUgMCAwIDAgMTQgM1ptLS41IDloLTExVjQuNjM3bDUuMTYyIDQuNzMyYS41LjUgMCAwIDAgLjY3NiAwTDEzLjUgNC42MzdWMTJaIi8+PC9zdmc+);
  }

  &[type='password'] {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDE2IDE2Ij48cGF0aCBmaWxsPSIjNzM3MzczIiBkPSJNMTMgNWgtMlYzLjVhMyAzIDAgMCAwLTYgMFY1SDNhMSAxIDAgMCAwLTEgMXY3YTEgMSAwIDAgMCAxIDFoMTBhMSAxIDAgMCAwIDEtMVY2YTEgMSAwIDAgMC0xLTFaTTguNSA5LjkxNFYxMS41YS41LjUgMCAwIDEtMSAwVjkuOTE0YTEuNSAxLjUgMCAxIDEgMSAwWk0xMCA1SDZWMy41YTIgMiAwIDEgMSA0IDBWNVoiLz48L3N2Zz4=);
  }

  &:focus,
  &:active {
    border: 1px solid var(--accent-color);
    box-shadow: 0 0 2rem 0 rgb(99 60 255 / 0.25);
    caret-color: var(--accent-color);
    outline: transparent;
  }
}